
/*
Author: Angela Valenzuela
Assignment: CSS for Mobile Home Page
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Global Styles*/

body, p, footer, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 25px;
    text-align: center
}

h2{
    font-family: 'Pompiere', cursive;
    font-size: 3em;
    text-align: center;
    padding:35px 0 0;
}

h3{
    font-family: 'Pompiere', cursive;
    font-size: 4em;
    padding:15px;
    float:left;
    clear:both;
    
}

a{
    color: #000;
}


h1{
    display:none;
    visibility: hidden;   
}

h2.bobaTeaTreat{
    background-color: #FFCFEA;
}

h2.socialMediaLabel{
    display:none;
    visibility: hidden;
}

section.socialMedia {
    position:relative;
}

html, body {
    margin: 0px;
    padding: 0px;
}


h2.events{
    background-color: #AFE9FF; 
    padding-bottom: 35px;
}

h3.calendarLabel{
    display:none;
    visibility: hidden;
}

table{
    display: none;
    visibility: hidden;
}

img.cafeEvent{
    display:block;
    width:70%;
    height:100%;
    border-radius: 25px;
}

figure{
    display:block;
    margin-top: 10px;
    padding-left: 40%;
    border-radius: 25px;
    width:55%;
    height:100%;
}

figcaption{
    font-size: 2em;
}

form {
    width: 550px;
    height: 300px;
    margin: auto;
    position: relative;
    font-size: 2em;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=reset] {
    width: 100%;
    height:40px;
    background-color: #B0A8FA;
    color: black;
    padding: 20px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 100%;
    height:40px;
    background-color: #FFCFEA;
    color: black;
    padding: 20px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


footer{
    background-color: #FEFFBE;
    text-align: center; 
}

footer p{
    margin:5px;
}

/******************************** Mobile Styles ************************************/


/*************Navigation hamburger with no js. 
resource: Youtube Tutorial by FollowAndrew https://youtu.be/sjrp1FEHnyA
Various adjustments made to fit mobile site for educational purposes only.************/

.header{
    margin: 0;
    background-color:#fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width:100%;
    position: sticky;
    z-index:3;
    top:0;  
}

nav{
    background-color: #FFCFEA;
    font-size: 2em;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #FFCFEA;
}

.header li a {
    display:block;
    padding: 20px 20px;
    border: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover, .header .navBtn:hover{
    background-color: #f4f4f4;
}


.header .logo{
    display: block;
    margin: 0 auto;
}

/*navigation effect*/

.header .navi {
    clear:both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/*navigation icon*/

.header .navIcon {
    cursor:pointer;
    float:right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
}

.header .navIcon .navInlineIcon {
    background:#B0A8FA;
    display: block;
    height:2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .navIcon .navInlineIcon:before, .header .navIcon .navInlineIcon:after{
    background: #B0A8FA;
    content: '';
    display:block;
    height:100%;
    width: 100%;
    position:absolute;
    transition: all .2s ease-out;
}

.header .navIcon .navInlineIcon:before{
    top:5px;
}

.header .navIcon .navInlineIcon:after{
    top:-5px;
}

/*navigation button*/

.header .navBtn{
    display: none;
}

.header .navBtn:checked ~ .navi{
    max-height: 240px;
}

.header .navBtn:checked ~ .navIcon .navInlineIcon{
    background:transparent;
}

.header .navBtn:checked ~ .navIcon .navInlineIcon:before{
    transform: rotate(-45deg);
    top:0;
}

.header .navBtn:checked ~ .navIcon .navInlineIcon:after{
    transform: rotate(45deg);
    top:0;
}

/*********************************img carousel******************************
resource: Codepen by Kohei Shingai: https://codepen.io/koheishingai/pen/uKvJF
Various adjustments made to fit mobile site for educational purposes only.*/

.carousel {
    position: relative;
    height:450px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height:445px;
    
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
    height: 350px;
    border-radius: 25px;
}

.carousel-control {
    background: rgba(255, 207, 234, 0.8);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 4;
}

.carousel-control.prev {
    left: 10%;
}

.carousel-control.next {
    right: 10%;
}

.carousel-control:hover {
    background: rgba(176, 168, 250, 0.8);
    color: #B0A8FA;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8,
#carousel-9:checked ~ .control-9 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 25px;
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet:hover {
    color: #B0A8FA;
}
.carousel-bullet {
    color: #FFCFEA;
    cursor: pointer;
    display: block;
    font-size: 45px;
}

#carousel-1:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet,
#carousel-2:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-3:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-4:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-7:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-8:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-9:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet {
    color: #B0A8FA;
}
