/*
Author: Angela Valenzuela
Assignment: CSS for Mobile Home Page
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset*/


/*Global Styles*/
header {
    background-color: white;
    width:20em;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo {
    display: block;
    margin: 0 auto;
}

body,
p, figcaption,footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 10px;
    color:#303030;
}

/*Heading Styles*/
h1,h2,h3,h4,h5 {
    font-family: 'Pompiere', cursive;
    padding: 10px;
    color:#303030;
}

h1,h2,h3, figcaption,.subscribe, footer {
    text-align: center;
}

/*Events Styles*/
h2.events {
    background-color: #AFE9FF;
}

h3.calendarMonth {
    padding-top: 30px;
    padding-bottom: 5px;
}

.hiddenLabel {
    display: none;
    visibility: hidden;
}


/*Nav Styles*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: #FFCFEA;
}

.navigation a {
    text-decoration: none;
    color:#303030;
    display: block;
    padding: 1em;
    color: #303030;
}

/*fix hover*********************************************/
.navigation a:hover {
    background: #B0A8FA;
    color: white;
}

/*Form Styles*/
    form {
        width: auto;
        height: auto;
        padding:10px;
        margin:10px 0;
        border: 1px solid rgba(175, 233, 255, 1);
        border-radius: 4px;
    }
    
    #fName, #email, #lName, #subjectEmail, #bodyEmail {
        background-color: rgba(175, 233, 255, .31)
    }
    
    #bodyEmail{
        height: 150px;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgba(175, 233, 255, 1);
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=reset] {
        width: 100%;
        height: 40px;
        background-color: #B0A8FA;
        color: #303030;
        padding: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit] {
        width: 100%;
        height: 40px;
        background-color: #FFCFEA;
        color: #303030;
        padding: 10px 0;
        margin-top: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

/*Menu Page Style*/
h2.menu{
     background-color: #CBFFE6;
    }

/*Contact Page Styles*/
 h2.aboutUs {
    margin-top:280px;
    background-color:#CBFFE6;
}

h2.contactUs{
    background-color:#AFE9FF;
}

/*Footer Style*/
footer{
    background-color:#FEFFBE;
}

  
/*Mobile Styles*/
@media screen and (min-device-width: 320px) and (max-device-width: 667px) {
    /*Navigation Styles*/
    
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(176, 168, 250, 0.7);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }

    /*Heading Styles*/
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 2em;
    }

    h4,h5 {
        font-size: 1.8em;
    }

    /*Text Styles*/
    body,
    p {
        padding: 10px;
    }
    
    p{
        line-height: 1.6;
    }

    /*Home Page Intro Style*/
     .socialComment {
        margin-top: 380px;
    }

    /*Events Styles*/
    table {
        visibility: hidden;
        display: none;
    }
    
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    section.dayOfMonth {
        display: flex;
        flex-direction: column;
    }

    img.cafeEvent {
        width: 175px;
        height: 175px;
        object-fit: cover;
        border-radius: 20px;
        padding-bottom: 10px;
    }
    
    /*Menu Page*/
    h2.menu{
        margin-top:480px;
    }
    
    .bubbleTea{
        display:none;
        visibility: hidden;
    }
    
    .bakedGoods{
        display: none;
        visibility: hidden;
    }
    
    .dogTreats{
        display:none;
        visibility:hidden;
    }
    
    /*Form Styles*/
    form {
        font-size: 1em;
    }
    
    input[type=reset] {
        font-size: 1.2em;
    }

    input[type=submit] {
        font-size: 1.2em;
    }
    
    /*Contact Page*/
    img.aboutUs {
        object-fit: cover;
        border-radius: 20px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    
    h2.aboutUs {
        margin-top:480px;
}

    section.businessInfo{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    /*Footer Styles*/
    footer img{
        flex-direction: row;
        justify-content: space-evenly;
        padding:20px;
        align-items: center;
        width:50px;
        height:50px;
    }
    

}

/*Tablet Styles*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navigation {
        justify-content: space-around;
    }

    .socialComment {
        margin-top: 450px;
    }

    table {
        visibility: hidden;
        display: none;
    }
}

/*Desktop Styles*/
@media screen and (min-device-width: 1050px){
    .navigation {
        justify-content: space-around;
    }
    
    .socialComment {
        margin-top: 450px;
    }
    
    table {
        padding:20px;
        max-width: 50%;
    }
}