/*
Author: Angela Valenzuela
Assignment: CSS for Mobile Home Page
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset*/


/*Global Styles*/
header {
    background-color: white;
    width:100%;
    
}

h1{
    padding: 1em;
}

.logo {
    display: block;
    margin: 0 auto;
}

body,
p, figcaption,footer {
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    color:#4f4f4f;
    margin:0 auto;
}

/*Heading Styles*/
h1,h2,h3,h4,h5, .navigation li a {
    font-family: 'Pompiere', cursive;
    color:#4f4f4f;
}

h1,h2,h3, figcaption,.subscribe, footer {
    text-align: center;
}

.hiddenLabel {
    display: none;
    visibility: hidden;
}


/*Navigation Styles*/
nav{
    background: #FFCFEA;
    width:100%;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background: #FFCFEA;
}

.navigation li a {
    text-decoration: none;
    display: block;
    padding: 0 2em;
}

.navigation a:hover {
    background:#FEFFBE ;
    color: #4f4f4f;
}

.selected {
    background: #CBFFE6;
    color: #4f4f4f;
}


/*Image Styles*/
p.socialComment{
    text-align: center;
}

section.socialImages{
    display:flex;
    flex-flow: row wrap;
}

img.socialImages, img.cafeEvent{
    display:flex;
    flex-flow: row wrap;
    object-fit: cover;
    border-radius: 2em;
}

/*Events Styles*/
h2.events {
    background-color: #AFE9FF;
}

h3.calendarMonth {
    padding-top: 1em;
}

section.calendarDay {
    display:flex;
    justify-content: space-between;
}

/*Form Styles*/
form {
    width: auto;
    height: auto;
    padding:1em;
    margin:1em 0;
    border: solid rgba(175, 233, 255, 1);
    border-radius: 1em;
}
    
#fName, #email, #lName, #subjectEmail, #bodyEmail {
    background-color: rgba(175, 233, 255, .31)
}

#bodyEmail{
    height: 9em;
}

input {
    width:100%;
    border-radius: 1em;
}

input[type=text],
select {
    padding: 1em 2em;
    margin: 1em 0;
    display: inline-block;
    border: solid rgba(175, 233, 255, 1);

    box-sizing: border-box;
}

input[type=reset] {
    background-color: #B0A8FA;
    color: #4f4f4f;
    cursor: pointer;
}

input[type=submit] {
    background-color: #FFCFEA;
    color: #4f4f4f;
    cursor: pointer;
}

/*Menu Page Style*/
h2.menu{
     background-color: #CBFFE6;
    }

/*Contact Page Styles*/
 h2.aboutUs {
    background-color:#CBFFE6;
}

h2.contactUs{
    background-color:#AFE9FF;
}

/*Footer Style*/
footer{
    background-color:#FEFFBE;
}

/*Scroll Up Button Styles*/
.scrollTopBtn{
    position: fixed;
    height:2em;
    width:2em;
    background: #FFCFEA;
    border-radius:2em;
    bottom: 6em;
    right: 1em;
    text-align: center;
    line-height: 2em;
    color:#4f4f4f;
    font-size: 2em;
}
  
/*Mobile Styles*/
@media screen and (max-width: 41em) {
    
    /* Header */
    header {
        width:100%;
    }
    
    .logo {
        display: none;
        visibility: hidden;
    }
    /*Navigation Styles*/
    
    nav{
        position: static;
        width: auto;
        padding: 0 10px;
    }
    
    .navigation {
        flex-flow: column wrap;
        padding: 0 10px;
    }

    .navigation li a {
        text-align: center;
        padding: 10px;
        font-size: 2em;
    }
    
    .navigation li {
        border-bottom: 1px solid rgba(176, 168, 250, 0.7);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }

    /*Heading Styles*/
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 2em;
    }

    h4,h5 {
        font-size: 1.8em;
    }

    /*Text Styles*/
    body, p {
        padding: 10px;
    }
    
    p{
        line-height: 1.6;
    }

    /*Home Page Intro Style*/
     .socialComment {
        text-align: center;
    }
    
        .socialImages{
        display:flex;
        flex-flow: row wrap;
    }
    
    .socialImages img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin: 1em;
    }

    /* Event Styles */
    
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    section.dayOfMonth {
        display: flex;
        flex-direction: column;
    }

    img.cafeEvent {
        width: 175px;
        height: 175px;
        object-fit: cover;
        border-radius: 20px;
        padding-bottom: 10px;
    }
    
    /* Menu Page */
    h2.menu{
        margin-top:480px;
    }
    
    .bubbleTea{
        display:none;
        visibility: hidden;
    }
    
    .bakedGoods{
        display: none;
        visibility: hidden;
    }
    
    .dogTreats{
        display:none;
        visibility:hidden;
    }
    
    /* Form Styles */
    form {
        font-size: 1em;
    }
    
    input[type=reset], input[type=submit]  {
        font-size: 1em;
        line-height: 2em;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    
    /* Contact Page */
    img.aboutUs {
        object-fit: cover;
        border-radius: 20px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    
    h2.aboutUs {
        margin-top:480px;
    }

    section.businessInfo{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    /*Footer Styles*/
    footer img{
        flex-direction: row;
        justify-content: space-evenly;
        padding:20px;
        align-items: center;
        width:50px;
        height:50px;
    }
    
    .scrollTopBtn{
        height:2em;
        width:2em;
        bottom: 6em;
        right: 0;
        line-height: 2em;
        font-size: 2em;
    }
}

/*Tablet Styles*/
@media screen and (min-width: 42em) and (max-width: 64em) {
    
    /*Logo Styles*/
    img.logo{
        width:15em;
        height:15em;
    }
    
    /*Heading Styles*/
    h1 {
        font-size: 3em;
    }

    h2{
        font-size: 3em;
    }
    h3,h4,h5 {
        font-size: 2em;
    }

    h5 {
        padding-top:1em;
    }
    
    /*Navigation Styles*/
    .navigation {
        justify-content: space-around;
    }
    
    .navigation li a {
        font-size:2em;
    }
    
    /*Body Text Style*/
    p{
        font-size:1em;
    }
    
    /*Social Gallery Styles*/
    img.socialImages {
        width:19em;
        height:19em;
        margin:2em 2em 0 2em;
  }
    
    /* Event Styles */
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        justify-content: space-around;
        display: flex;
        margin:1em;
        padding-right:1em;
    }
    
    .horizontalEvent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    img.cafeEvent {
        width:15em;
        height:15em;
        margin-top:2em;
    }
    
    /*Form Styles*/
    form {
        font-size:1em;
    }
    
    input[type=reset],input[type=submit] {
        font-size:2em;
        line-height: 2em;
        margin-bottom: 0.2em;
        text-align: center;
    } 
}


/*Desktop Styles*/
@media screen and (min-width: 65em){
    
    /*Logo Styles*/
    img.logo{
        width:18em;
        height:18em;
    }
    
    
     /*Heading Styles*/
    h1 {
        font-size: 3em;
    }

    h2{
        font-size: 3em;
    }
    h3,h4,h5 {
        font-size: 2.5em;
    }

    h5 {
        padding-top:1em;
    }
    
    /*Navigation Styles*/
    .navigation {
        justify-content: space-evenly;
    }
    
    .navigation li a {
        font-size:3em;
    }
    
    /*Body Text Style*/
    p{
        font-size:1.5em;
    }
    
    /*Social Gallery Styles*/
    
    section.socialImages {
        display:flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;
    }
    
    img.socialImages {
        width:21em;
        height:21em;
        margin:2em 2em 0 2em;
  }
    
    img.cafeEvent {
        width:20em;
        height:20em;
        margin-top:2em;
    }
    
    /* Event Styles */
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        justify-content: center;
        display: flex;
        margin:1em;
        padding-right:1em;
    }

    
    /* Event Styles */
    .horizontalEvent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    section.dayOfMonth {
        margin: 1em;
        padding:1em;
    }
    
    /*Form Styles*/
    section.eventForm{
        padding-bottom: 2em;
    }
    
    form {
        font-size:1em;
    }
    
    input[type=reset],input[type=submit] {
        font-size:2em;
        line-height: 2em;
        margin-bottom: 0.2em;
        text-align: center;
    }

    /*Footer Styles*/
    footer img{
        padding-right:1em;
    }

}