/*
Author: Angela Valenzuela
Assignment: CSS for Mobile Home Page
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset*/


/*Global Styles*/
header {
    background-color: white;
    width:100%;
    
}

h1{
    padding: .5em;
}

.logo {
    display: block;
    margin: 0 auto;
}

body,
p, figcaption,footer {
    font-family: 'Open Sans', sans-serif;
    padding: .5em;
    color:#636363;
    margin:0 auto;
}

/*Heading Styles*/
h1,h2,h3,h4,h5{
    font-family: 'Pompiere', cursive;
    color:#636363;
}

h1,h2,h3, figcaption,.subscribe, footer {
    text-align: center;
}

.hiddenLabel {
    display: none;
    visibility: hidden;
}


/*Navigation Styles*/
nav{
    background: #FFCFEA;
    width:100%;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    background: #FFCFEA;
}

.navigation li a {
    font-family: 'Pompiere',cursive;
    color: #636363;
    text-decoration: none;
    display: block;
    padding: 0 2em;
}

.navigation li a:hover {
    background: rgba(176, 168, 250, 0.4);
    color: #636363;
}

.selected{
    background-color: rgba(176, 168, 250, 0.4);
    color: #636363;
}


/*Image Styles*/
p.socialComment{
    text-align: center;
}

section.socialImages{
    display:flex;
    flex-flow: row wrap;
}

img.socialImages, img.cafeEvent{
    display:flex;
    flex-flow: row wrap;
    object-fit: cover;
    border-radius: 2em;
}

/*Events Styles*/
h2.events {
    background-color: #AFE9FF;
}

h3.calendarMonth {
    padding-top: 1em;
}

section.calendarDay {
    display:flex;
    justify-content: space-between;
}

/*Form Styles*/
form {
    width: auto;
    height: auto;
    padding:1em;
    margin:1em 0;
    border: solid rgba(175, 233, 255, 1);
    border-radius: 1em;
}
    
#fName, #email, #lName, #subjectEmail, #bodyEmail {
    background-color: rgba(175, 233, 255, .31)
}

#bodyEmail{
    height: 9em;
}

input {
    width:100%;
    border-radius: 1em;
}

input[type=text],
select {
    padding: 1em 2em;
    margin: 1em 0;
    display: inline-block;
    border: solid rgba(175, 233, 255, 1);

    box-sizing: border-box;
}

input[type=reset] {
    background-color: #B0A8FA;
    color: #636363;
    cursor: pointer;
}

input[type=submit] {
    background-color: #FFCFEA;
    color: #636363;
    cursor: pointer;
}

/*Menu Page Style*/
h2.menu{
     background-color: #CBFFE6;
}

h2.bakedMenu {
        background-color: #AFE9FF;
}

h2.dogMenu{
     background-color: #bfb9ff;
    }

/*Contact Page Styles*/
 h2.aboutUs {
    background-color:#FEFFBE;
}

h2.contactUs{
    background-color:#AFE9FF;
}

/*Footer Style*/
footer{
    background-color:#FEFFBE;
}

.bobaPup p{
text-align: center}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    color: #636363;
    font-size:2em;
    margin:.5em;
    }

/*Scroll Up Button Styles*/
.scrollTopBtn{
    position: fixed;
    height:2em;
    width:2em;
    background: #FFCFEA;
    border-radius:2em;
    bottom: 1em;
    right: .5em;
    text-align: center;
    line-height: 2em;
    color:#636363;
    font-size: 2em;
}
  
/*Mobile Styles*//*Mobile Styles*//*Mobile Styles*//*Mobile Styles*//*Mobile Styles*/
@media screen and (max-width: 41em) {
    
    /* Header */
    header {
        width:100%;
    }
    
    .logo {
        display: none;
        visibility: hidden;
    }
    
    /* Text Styles */
    h1,h2,h3,h4,h5 {
        text-align: center;
    }
    
    /* Navigation Styles */
    nav{
        position: static;
        width: auto;
    }
    
    .navigation {
        flex-flow: column wrap;
        flex-grow: inherit;
    }

    .navigation li a {
        text-align: center;
        font-size: 2em;
        padding: 0.5em 0;
        display: block;
        width: 100%;
}
    
    .navigation li {
        border-bottom: .10em solid rgba(176, 168, 250, 0.7);
    }

    .navigation li:last-of-type {
        border-bottom: none;
    }

    /*Heading Styles*/
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
        line-height: 1.3em;
        margin-top:1em;
    }

    h3,h5 {
        font-size: 1.8em;
        line-height: 2em;
    }

    /*Text Styles*/
    p{
        line-height: 1.4em;
    }

    /*Home Page Intro Style*/
     .socialComment {
        padding-top: 1em;
    }
    
    .socialImages, .bobaImages, .bakedImages, .dogTreatImages{
    display:flex;
    flex-flow: row wrap;
    }
    
    .socialImages img{
    width: 16em;
    height: 16em;
    object-fit: cover;
    border-radius: 2em;
    margin: 1em 1em 0;
    }
    
    .socialImages figcaption{
        margin: 0 0 1em;
    }

    /* Event Styles */
    
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    section.dayOfMonth {
        display: flex;
        flex-direction: column;
    }
    
    img.cafeEvent {
        width: 13em;
        height: 13em;
        object-fit: cover;
        border-radius: 2em;
    }
    
    .calendarDay figure{
        margin-top: 2em;
    }
    .calendarDay figcaption {
        margin: 0 0 1em;
    }
    
    /* Mobile Menu Page */
    
    .bobaContents figure{
        display: inline-block;
        padding-left: 1em;
        padding-bottom: 1em;
        text-align: center;
    }
    
    .bobaContents figcaption{
        text-align:match-parent;
    }
    
    h4{
        line-height: 1.4em;
        font-size:1.6em;
    }
    
    .bobaContents p{
        padding-bottom: 1em;
        border-bottom: .3em solid rgba(203, 255, 230, 1);
    }
    
    .bakedDesc p{
        padding-bottom: 1em;
        border-bottom: .3em solid rgba(175, 233, 255, 1);
    }
    
    .dogTreats p{
        padding-bottom: 1em;
        border-bottom: .3em solid rgba(191, 185, 255, 1);
    }
    
    
    img.bobaImages {
        width: 16em;
        height: 16em;
        object-fit: cover;
        border-radius: 2em;
        margin:1em 1em 1em;
    }

    
    /* Form Styles */
    form {
        font-size: 1em;
    }
    
    input[type=reset], input[type=submit]  {
        font-size: 1em;
        line-height: 2em;
        padding: 1em 0;
        margin-bottom: 1em;
    }

    
    /* Contact Page */
    
    img.aboutUs {
        width: 16em;
        height: 16em;
        object-fit: cover;
        border-radius: 2em;
        margin: 1em 1em 0;
    }
    
    h2.aboutUs {
        margin-top:1em;
    }

    section.businessInfo{
        display: block;
        padding: 10px;
    }
    
    .businessInfo h3, .businessInfo h4 {
        line-height: 1.5em;
        text-align: left;
    }
    
    .businessInfo p{
        padding-bottom: 1em;
        padding-left:0;
        border-bottom: 1px solid rgba(175, 233, 255, 1);
        text-align:left;
    }
    
    .businessInfo p:last-of-type{
        border-bottom:none;
    }
    
        .bobaPup img{
        width:16em;
        height:16em;
        object-fit: cover;
        border-radius: 2em;
        margin: 1em 1em 0;
    }
    /*Footer Style*/
    .fa-facebook-f, .fa-twitter, .fa-instagram {
    font-size: 2em;
    }

    
    .scrollTopBtn{
        height:1.5em;
        width:1.5em;
        bottom: 1.2em;
        right: .25em;
        line-height: 1.5em;
        font-size: 2em;
    }
    
}

/*Tablet Styles*//*Tablet Styles*//*Tablet Styles*//*Tablet Styles*//*Tablet Styles*//*Tablet Styles*/
@media screen and (min-width: 42em) and (max-width: 64em) {
    
    /*Logo Styles*/
    img.logo{
        width:15em;
        height:15em;
    }
    
    /*Heading Styles*/
    h1 {
        font-size: 2.5em;
    }

    h2{
        font-size: 2.5em;
    }
    
    h3,h4,h5 {
        font-size: 2em;
    }

    h4,h5 {
        padding-top:.5em;
    }
    
    
    /*Navigation Styles*/
    .navigation {
        display:flex;
        justify-content: space-evenly;
        flex-grow: inherit;
    }
    
    .navigation li {
        width:33.33%;
    }
    
    .navigation li a {
        text-align: center;
        font-size:2.5em;
        padding: 0.5em 0;
        display: block;
        width: 100%;
    }
    
    /*Body Text Style*/
    p{
        font-size:1em;
        line-height: 1.5em;
    }
    
    /*Social Gallery Styles*/
    img.socialImages {
        width:19em;
        height:19em;
        margin:2em 2em 0 2em;
  }
    
    .socialImages figcaption{
        margin: 0 0 1em;
    }
    
    /* Event Styles */
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        justify-content: space-around;
        display: flex;
        margin:1em;
        padding-right:1em;
    }
    
    .horizontalEvent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    img.cafeEvent {
        width:15em;
        height:15em;
        margin-top:2em;
    }
    
    /*Form Styles*/
    form {
        font-size:1.2em;
    }
    
    input[type=reset],input[type=submit] {
        font-size:1.5em;
        line-height: 2em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    
    /*TABLET MENU PAGE*/
    h2.menu{
        margin-top: 1em;
    }
    
    h4, h5{
        text-align: center;
    }
    
    .bobaSize{
        display: flex;
        align-items: flex-end;
    }
    
    .bobaSize figure{
        padding:1em;
        text-align: center;
        width:33%;
    }

    
    .bobaContents figcaption{
        text-align:match-parent;
        margin: 0;
        padding:0;
    }
    
    .bobaDesc, .bakedDesc, .dogTreats{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .bobaItem{
        display: flex;
        border: solid #CBFFE6;
        margin: 1em;
        border-radius: 2em;
        width: 90%;
    }
    
    .bakedItem{
        display: flex;
        border: solid #AFE9FF;
        margin: 1em;
        border-radius: 2em;
        width: 90%;
    }
    
    .dogItem{
        display: flex;
        border: solid #bfb9ff;
        margin: 1em;
        border-radius: 2em;
        width: 90%;
    }
    
    img.bobaImages{
        width:19em;
        height:19em;
        object-fit: cover;
        border-radius: 2em;
        order: -1;
    }
    
    .bobaColumn{
        width:50%;
    }
    
    .bobaItem h3, .bakedItem h3, .dogItem h3{
        margin-top: 2em;
        text-align: center;
    }
    
    .bobaItem p, .bakedItem p, .dogItem p{
        width:80%;
    }
    
    /* Contact Page Styles */
    img.aboutUs {
        width: 19em;
        height: 19em;
        object-fit: cover;
        border-radius: 2em;
        margin: 1em 1em 2em;
    }
    
    .aboutFlex{
        display:flex;
        flex-flow: row wrap;
    }
    
    .aboutFlex p{
        width:50%;
        line-height: 2em;
        padding: 1em 0;
    }
    
    .bobaPup img{
        width:19em;
        height:19em;
        object-fit: cover;
        border-radius: 2em;
        margin:4em 0 1em 6em;
    }
    
    .bobaPup p{
        text-align: center;
        width:50%;
        padding: 1em;
        margin-right: 1em;
    }
    
    h2.aboutUs {
        margin-top:1em;
    }
    
    .contactContent {
        display:flex;
    }

    section.businessInfo{
        display: block;
        padding: 10px;
    }
    
    .businessInfo h3, .businessInfo h4 {
        line-height: 1.5em;
        text-align: left;
    }
    
    .businessInfo p{
        padding-bottom: 1em;
        padding-left:0;
        border-bottom: 1px solid rgba(175, 233, 255, 1);
        text-align:left;
    }
    
    .businessInfo p:last-of-type, .businessInfo p:nth-last-of-type(2){
        border-bottom:none;
    }
    
    .fa-facebook-f, .fa-twitter, .fa-instagram {
    font-size:3em;
    }

}


/*Desktop Styles*//*Desktop Styles*//*Desktop Styles*//*Desktop Styles*//*Desktop Styles*/
@media screen and (min-width: 65em){
    
    /*Logo Styles*/
    img.logo{
        width:18em;
        height:18em;
    }
    
    
     /*Heading Styles*/
    h1 {
        font-size: 3em;
    }

    h2{
        font-size: 3em;
    }
    h3,h4,h5 {
        font-size: 2.5em;
    }

    h5 {
        padding-top:1em;
    }
    
    /*Navigation Styles*/
    .navigation {
        display:flex;
        justify-content: space-evenly;
        flex-grow: inherit;
    }
    
    .navigation li {
        width:33.33%;
    }
    
    .navigation li a {
        text-align: center;
        font-size:3em;
        padding: 0.5em 0;
        display: block;
        width: 100%;
    }
    
    /*Body Text Style*/
    p{
        font-size:1.5em;
        line-height: 1.5em;
    }
    
    /*Social Gallery Styles*/
    
    section.socialImages {
        display:flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;
    }
    
    img.socialImages {
        width:21em;
        height:21em;
        margin:2em 2em 0 2em;
  }
    
    img.cafeEvent {
        width:20em;
        height:20em;
        margin-top:2em;
    }
    
    /* Event Styles */
    section.calendarDay {
        border-top: 1px solid rgba(175, 233, 255, 1);
        justify-content: center;
        display: flex;
        margin:1em;
        padding-right:1em;
    }

    
    /* Event Styles */
    .horizontalEvent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    section.dayOfMonth {
        margin: 1em;
        padding:1em;
    }
    
    /*Form Styles*/
    section.eventForm{
        padding-bottom: 2em;
    }
    
    form {
        font-size:1em;
    }
    
    input[type=reset],input[type=submit] {
        font-size:2em;
        line-height: 2em;
        margin-bottom: 0.2em;
        text-align: center;
    }
    
    /*Menu Styles*/
    
    h2.menu{
        margin-top: 1em;
    }
    
    h4, h5{
        text-align: center;
    }
    
    h4{
        margin-top:1em;
    }

    .bobaSize{
        display: flex;
        align-items: flex-end;
    }
    
    .bobaSize figure{
        padding:1em;
        text-align: center;
        width:33%;
    }

    
    .bobaContents figcaption{
        text-align:match-parent;
        margin: 0;
        padding:0;
    }
    
    .bobaDesc, .bakedDesc, .dogTreats{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .bobaItem, .bakedItem{
        display: flex;
        flex-flow: row wrap;
        width:47%;
        border: solid #CBFFE6;
        margin: 1em;
        border-radius: 2em;
    }
    
    .bakedItem{
        display: flex;
        flex-flow: row wrap;
        width:47%;
        border: solid #AFE9FF;
        margin: 1em;
        border-radius: 2em;
    }
    
    .dogItem{
        display: flex;
        flex-flow: row wrap;
        width:47%;
        border: solid #bfb9ff;
        margin: 1em;
        border-radius: 2em;
    }
    
    img.bobaImages{
        width:19em;
        height:19em;
        object-fit: cover;
        border-radius: 2em;
        order: -1;
    }
    
    .bobaColumn{
        width:50%;
    }

    
    .bobaItem h3, .bakedItem h3, .dogItem h3{
        margin-top: 1em;
        text-align: center;
    }
    
    .bobaItem p, .bakedItem p, .dogItem p{
        width:80%;
    }
    
        /* Contact Page Styles */
    img.aboutUs {
        width: 19em;
        height: 19em;
        object-fit: cover;
        border-radius: 2em;
        margin: 1em 1em 2em;
    }
    
    .aboutFlex{
        display:flex;
        flex-flow: row wrap;
    }
    
    .aboutFlex p{
        width:50%;
        line-height: 2em;
        padding: 1em 0;
    }
    
    .bobaPup img{
        width:30em;
        height:30em;
        object-fit: cover;
        border-radius: 2em;
        margin:6em 0 1em 10em;
    }
    
    h2.aboutUs {
        margin-top:1em;
    }
    
    .contactContent {
        display:flex;
    }

    section.businessInfo{
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
    }
    
    .businessInfo h3, .businessInfo h4 {
        line-height: 1.5em;
        text-align: center;
    }
    
    .businessInfo p{
        padding-bottom: 1em;
        padding-left:0;
        border-bottom: 1px solid rgba(175, 233, 255, 1);
        text-align:left;
    }
    
    .businessInfo p:last-of-type, .businessInfo p:nth-last-of-type(2){
        border-bottom:none;
    }
    
    .bobaPup p{
        text-align: center;
        width:50%;
        padding: 1em;
        margin-right: 1em;
    }

    /*Footer Styles*/
    .fa-facebook-f, .fa-twitter, .fa-instagram {
    font-size:4em;
    }

}